services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Oussema\HideByCountries\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  Oussema\HideByCountries\Domain\Model\Dto\ExtConfiguration:
    public: true

  cache.hidebycountries:
    class: TYPO3\CMS\Core\Cache\Frontend\FrontendInterface
    factory: ['@TYPO3\CMS\Core\Cache\CacheManager', 'getCache']
    arguments: ['hidebycountries']

  Oussema\HideByCountries\Middleware\GeoLocationMiddleware:
    public: true
    arguments:
      - '@Oussema\HideByCountries\Domain\Model\Dto\ExtConfiguration'
      - '@Oussema\HideByCountries\Domain\Repository\GeoLocationRepository'
      
  Oussema\HideByCountries\Utility\Apis\AetherEpiasGeoLocationService:
    public: true
    arguments:
      - '@TYPO3\CMS\Core\Http\RequestFactory'
      - '@TYPO3\CMS\Core\Configuration\ExtensionConfiguration'

  Oussema\HideByCountries\Domain\Repository\GeoLocationRepository:
    public: true
    arguments: 
      - '@cache.hidebycountries'
      - '@Oussema\HideByCountries\Domain\Model\Dto\ExtConfiguration'

    
  Oussema\HideByCountries\Utility\Apis\GeoLocationApiInterface:
    alias: Oussema\HideByCountries\Utility\Apis\AetherEpiasGeoLocationService
    public: true